body {
    margin:0;
}

body h1,h2,h3,h4,h5,h6,p {
    margin-left: .5em;
}

body h2 {
    margin-top: .2em;
    margin-bottom: .2em;
}

#menuBar {
    background-color: #8080ff;
    display: inline-block;
    padding: 1em 5em .3em 0em;
    width: 94%;
    margin:0;
}

#menuBar a {
    padding: .3em;
    margin:.2em;
    background-color: #b0b0ff;
    border: 2px #9090ff solid;
    font-size: 14pt;
}

#menuBar a:hover {
    background-color:#a0a0ff;
}

canvas {
    border-radius: 10px;
    border: 1px black solid;
}

#game {
    position: absolute;
    right:0%;
    left:2%;
    top:30%;
    bottom:0;
    margin: auto;
}

#instructions {
    position: absolute;
    right:0%;
    left:75%;
    top:30%;
    bottom:0;
    margin: auto;

}

#gameStats {
    position: absolute;
    right:0%;
    left:75%;
    top:65%;
    bottom:0;
    margin: auto;

}

#gameInput {
    position: absolute;
    right:0%;
    left:45%;
    top:40%;
    bottom:0;
    margin: auto;
    z-index: 1

}

#logout {
    float:right;
}

#logout input {
    /* padding-right: 1em; */
    cursor: pointer;
    padding: .3em;
    margin-top:-.3em;
    background-color: #b0b0ff;
    border: 2px #9090ff solid;
    font-size: 14pt;
}

#logout input:hover {
    /* padding-right: 1em; */
    background-color:#a0a0ff;
}

#topBar {
    background-color: #8080ff;
    margin: 0;
    padding: 1em;
}

#login input {
    display: block;
}

#login {
    position:absolute;
    top:30%;
    right:0;
    left:40%;
    bottom:0;
    margin:auto;
}

#leaderboards tr {
}

#leaderboards td {
    padding: .25em 3em;
}

#leaderboards th {
    font-size: 16pt;
}

#leaderboards {
    text-align: center;
    margin-left:auto; 
    margin-right:auto;
    font-size: 14pt;
}

#leaderboards .currentUser {
    background-color: yellow;
}


